* {
    font-family: Roboto;
}

.MessageArea{
    background-color: #6dadcb;
}
h2{
    font-weight: 100;
    font-size: 30pt;
    line-height: 1.3em;
    margin: 15px 0;
}

div.message {
    position: relative;
    padding: 10px;
    padding-left: 35px;
    margin: 30px 10px;
    box-shadow:0 2px 5px rgba(0,0,0,.3);
    background: #BBB;
    color: #FFF;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
div.message:hover{
    box-shadow: 0 15px 20px rgba(10,0,10,.3);
    -webkit-filter: brightness(110%);
}

div.message:before{
    content: '';
    font-family: FontAwesome;
    position: absolute;
    display: block;
    top: -21px;
    left: 50%;
    margin:0 -21px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 24px;
    padding:10px;
    background: inherit;
    box-shadow:0 5px 10px rgba(0,0,0,.25);
    color: rgba(255,255,255,.75);
    border-radius:50%;
    border: 2px solid transparent;
    z-index: 2;
}

div.message.information:before{content:'\f129';}
div.message.announcement:before{content:'\f0f3';}
div.message.success:before{content:'\f00c';}
div.message.warning:before{content:'\f12a';}
div.message.error:before{content:'\f00d';}

div.message.information{background: #39B;}
div.message.warning{background: #E74;}
div.message.success{background: #5A6;}
div.message.announcement{background: #EA0;}
div.message.error{background: #C43;}

